:root {
  --white-color: #fcfcfc;
  --gray-color: #636366;
  --black-color: #333;
  --main-color: linear-gradient(239deg, #3262dd, #7af4ae 98.78%);
  --background-color: #1c1c1e;
  --border-radius-8: 8px;
  --border-color: #525252;
  --border: 1px solid #525252;
  --header-divide-color: #dcdfe6;
  --hover-color: #386df5;
  --header-height: 80px;
  --background-color-layer: #3a3a3c;
  --input-color: #eee;
  --background-item: #2c2c2e;
  --gray-color-community: #d4d4d4;
  --sidebar-width: 240px;
  --required-color: #f56c6c;
  --el-button-border-color: #121820;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
.__layout {
  height: 100%;
}
.panel-full-layout {
  display: flex;
  height: 100%;
}
.the-header {
  padding: 20px 32px;
  left: var(--sidebar-width);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  z-index: 50;
  height: var(--header-height);
}
.the-header.is-fluid {
  align-items: center;
  left: 0;
  border-bottom: var(--border);
}

.panel__layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-top: var(--header-height);
  position: relative;
}
@media (min-width: 1024px) {
  .panel__layout-main {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}
.panel__layout-content {
  padding: 24px 0;
  flex: 1;
}
.the-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.the-heading--left {
  text-align: left;
  font-size: 3.4rem;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 0;
}
.the-heading--center {
  text-align: center;
  font-size: 3.4rem;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 0;
}
.the-heading--center.medium {
  font-size: 2.4rem;
}
.input-container {
  position: relative;
  font-size: 1.4rem;
  display: inline-block;
  width: 100%;
}
.input-inner {
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 15px;
  font-size: inherit;
  background-color: var(--background-color);
  border: 1px solid var(--background-color-layer);
  color: var(--input-color);
  height: 40px;
  line-height: 40px;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.input-inner__prefix {
  height: 100%;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  left: 10px;
  top: 0;
  color: var(--input-color);
}
.input-inner__icon {
  color: #949499;
  width: 15px;
  line-height: 40px;
  height: 100%;
  text-align: center;
  transition: all 0.3s;
}
.the-spacer {
  flex: 1;
  min-width: 20px;
}
.the-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-8);
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  background: var(--background-item);
  border: 1px solid var(--el-button-border-color);
  text-align: center;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  user-select: none;
  font-size: 1.6rem;
}
.the-button.primary {
  color: #fff;
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}
.the-button > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.the-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.the-empty__image {
  width: 200px;
  height: 200px;
  border-style: none;
  max-width: 100%;
}
.the-empty__text {
  margin-top: 40px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--white-color);
}
.the-container-create {
  max-width: 802px;
  margin: 0 auto;
  padding: 0 24px;
}

.the-form__item {
  margin-bottom: 12px;
}
.the-form__item::before {
  display: table;
  content: "";
}

.the-form__item-label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--input-color);
  text-align: left;
  padding: 0 0 10px;
}
.the-form__item.is-required:not(.is-no-asterisk)
  > .the-form__item-label::before {
  content: "*";
  color: var(--required-color);
  margin-right: 4px;
}
.the-form__item-content {
  line-height: 4rem;
  position: relative;
  font-size: 1.6rem;
}
.the-form__item-content::before {
  display: table;
  content: "";
}
/* The input CSS here  */
.the-input {
  position: relative;
  font-size: 1.4rem;
  display: inline-block;
  width: 100%;
}
textarea {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.textarea {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #eee;
  background-image: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: auto;
  background-color: #1c1c1e;
  border-radius: 8px;
}
.the-input-inner {
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--background-color-layer);
  color: var(--input-color);
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.the-date-picker.el-date-editor {
  width: 100%;
  max-width: 474px;
  position: relative;
  font-size: 14px;
}

.the-date-picker .el-input__inner {
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--background-color-layer);
  color: var(--input-color);
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.el-input__prefix {
  height: 100%;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  left: 5px;
  top: 0;
  color: #eee;
  z-index: 10;
}
.el-input__wrapper {
  padding: 0;
}
.el-input__suffix {
  position: absolute;
  height: 100%;
  right: 5px;
  top: 0;
  text-align: center;
  color: #eee;
  transition: all 0.3s;
  pointer-events: none;
}
.the-form__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-8);
  overflow: visible;
  color: #fff;
  padding: 12px 20px;
  margin-top: 12px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
  user-select: none;
  background: var(--background-color-layer);
  border: 1px solid var(--background-color-layer);
}
.the-form__button.next {
  background: var(--hover-color);
  border: 1px solid var(--hover-color);
}
